@using StorageMonster.Web.Views.Account
@model StorageMonster.Web.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = Resources.ResetPasswordTitle;
}

<div class="container">
    <div class="row">
        <div class="span6 offset3">
            @Html.Partial("Controls/ResetPasswordControl", Model)
        </div>
    </div>
</div>