@using StorageMonster.Web.Properties.ViewsResources
@model StorageMonster.Web.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = AccountResources.ResetPasswordTitle;
    Layout = "~/Views/Shared/_OuterLayout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="span6 offset3">
            @Html.Partial("Controls/ResetPasswordControl", Model)
        </div>
    </div>
</div>