/* Styles for validation helpers
-----------------------------------------------------------*/
@import url('reset.css');
@import url('misc.css');
@import url('menu.css');    
body{
    font: 14px 'trebuchet ms', arial, sans-serif;
    background: url('images/body-bg.jpg') repeat;
}
a{
    text-decoration: none;
}
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid
{
    display: none;
}
