<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="cloudbin">
      <section name="dependencyContainer" type="CloudBin.Core.Configuration.DependencyContainerConfigurationSection, CloudBin.Core" />
      <section name="database" type="CloudBin.Data.DatabaseConfigurationSection, CloudBin.Data" />
      <section name="web" type="CloudBin.Web.Core.Configuration.WebConfigurationSection, CloudBin.Web.Core" />
      <section name="authentication" type="CloudBin.Web.Core.Configuration.AuthenticationConfigurationSection, CloudBin.Web.Core, Version=1.0.0.0, Culture=neutral" />
      <section name="globalization" type="CloudBin.Core.Configuration.GlobalizationConfigurationSection, CloudBin.Core" />
      <section name="theming" type="CloudBin.Web.Core.Configuration.ThemingConfigurationSection, CloudBin.Web.Core" />
    </sectionGroup>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <sectionGroup name="bundleTransformer">
      <section name="core" type="BundleTransformer.Core.Configuration.CoreSettings, BundleTransformer.Core" />
      <section name="microsoftAjax" type="BundleTransformer.MicrosoftAjax.Configuration.MicrosoftAjaxSettings, BundleTransformer.MicrosoftAjax" />
    </sectionGroup>
    <sectionGroup name="webMarkupMin">
      <section name="core" type="WebMarkupMin.Core.Configuration.CoreConfiguration, WebMarkupMin.Core" />
      <section name="msAjax" type="WebMarkupMin.MsAjax.Configuration.MsAjaxConfiguration, WebMarkupMin.MsAjax" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="nhibernate-logger" value="NHibernate.Logging.CommonLogging.CommonLoggingLoggerFactory, NHibernate.Logging.CommonLogging" />
  </appSettings>
  <connectionStrings>
    <add name="CloudBinDB" connectionString="server=127.0.0.1;user=cloudbin;database=cloudbin;port=3306;charset=utf8;" />
  </connectionStrings>
  <cloudbin>
    <dependencyContainer type="CloudBin.IoC.Castle.Windsor.WindsorDependencyContainer, CloudBin.IoC.Castle.Windsor" />
    <database useOptimisticLockForUsers="true" useOptimisticLockForStorageAccounts="true" />
    <web doNotOpenDbSessionForScriptAndContent="true" minifyHtml="true" compressDynamicContent="false" compressBundledContent="true" compressStaticContent="false" sendSecurityHeaders="true" removeVersionHeaders="true" trackingCookieName="cbt" />
    <authentication cookieName="cba" signInUrl="~/signin" encryptionAlgorithm="rijndael" validationAlgorithm="hmacsha256" encryptionKey="4F0EFA3233EC7F75BA87DBFAAC800D5598DDCC5044FE345756DA8D06AC0587D9" validationKey="CF785C706161F05114C1A74B533AD856F15413E49495F0B4DD2D6C86BCF3052BE566BA873749CDE4460B8E70761151E81E27763F49C40C5BBA59D57B86D2DF9C" doNotAuthenticateScriptAndContent="true" requireSSL="false" slideExpire="true" allowMultipleSessions="false" sessionTimeout="60" />
    <globalization>
      <locales>
        <add name="en-US" culture="en-US" uiCulture="en-US" isDefault="true" fullName="English" />
        <add name="ru-RU" culture="ru-RU" uiCulture="ru-RU" isDefault="false" fullName="Русский" />
      </locales>
    </globalization>
    <theming>
      <themes>
        <add name="default" isDefault="true" />
        <add name="metro" isDefault="false" />
        <add name="moonlight" isDefault="false" />
        <add name="bootstrap" isDefault="false" />
      </themes>
    </theming>
  </cloudbin>
  <castle>
    <components>
      <component id="CloudBin.Web.Core.HttpRequestContextProvider" service="CloudBin.Core.IRequestContextProvider, CloudBin.Core" type="CloudBin.Web.Core.HttpRequestContextProvider, CloudBin.Web.Core" />
      <!-- Configurations -->
      <component id="CloudBin.Data.DatabaseXmlConfiguration" service="CloudBin.Data.IDatabaseConfiguration, CloudBin.Data" type="CloudBin.Data.DatabaseXmlConfiguration, CloudBin.Data" />
      <component id="CloudBin.Web.Core.Configuration.WebXmlConfiguration" service="CloudBin.Web.Core.Configuration.IWebConfiguration, CloudBin.Web.Core" type="CloudBin.Web.Core.Configuration.WebXmlConfiguration" />
      <component id="CloudBin.Web.Core.Configuration.XmlAuthenticationConfiguration" service="CloudBin.Web.Core.Configuration.IAuthenticationConfiguration, CloudBin.Web.Core" type="CloudBin.Web.Core.Configuration.XmlAuthenticationConfiguration" />
      <component id="CloudBin.Core.Configuration.GlobalizationXmlConfiguration" service="CloudBin.Core.Configuration.IGlobalizationConfiguration, CloudBin.Core" type="CloudBin.Core.Configuration.GlobalizationXmlConfiguration, CloudBin.Core" />
      <component id="CloudBin.Web.Core.Configuration.ThemingXmlConfiguration" service="CloudBin.Web.Core.Configuration.IThemingConfiguration, CloudBin.Web.Core" type="CloudBin.Web.Core.Configuration.ThemingXmlConfiguration, CloudBin.Web.Core" />
      <!-- ============== -->
      <component id="CloudBin.Core.LocaleProvider" service="CloudBin.Core.ILocaleProvider, CloudBin.Core" type="CloudBin.Core.LocaleProvider, CloudBin.Core" />
      <component id="CloudBin.Web.Core.Theming.ThemeProvider" service="CloudBin.Web.Core.Theming.IThemeProvider, CloudBin.Web.Core" type="CloudBin.Web.Core.Theming.ThemeProvider, CloudBin.Web.Core" />
      <component id="CloudBin.Data.NHibernate.SessionManager" service="CloudBin.Data.IDatabaseSessionManager, CloudBin.Data" type="CloudBin.Data.NHibernate.SessionManager, CloudBin.Data.NHibernate" />
      <component id="CloudBin.Web.Core.OpenDatabaseConnectionPolicy" service="CloudBin.Web.Core.IOpenDatabaseConnectionPolicy, CloudBin.Web.Core" type="CloudBin.Web.Core.OpenDatabaseConnectionPolicy, CloudBin.Web.Core" />
      <component id="CloudBin.Web.Core.Security.CookieAuthenticationService" service="CloudBin.Web.Core.Security.IAuthenticationService, CloudBin.Web.Core" type="CloudBin.Web.Core.Security.CookieAuthenticationService, CloudBin.Web.Core" />
      <component id="CloudBin.Web.BundleTransformer.BundleProvider" service="CloudBin.Web.Core.Bundling.IBundleProvider, CloudBin.Web.Core" type="CloudBin.Web.BundleTransformer.BundleProvider, CloudBin.Web.BundleTransformer" />
      <component id="CloudBin.Web.Core.Tracking.CookieTrackingService" service="CloudBin.Web.Core.Tracking.ITrackingService, CloudBin.Web.Core" type="CloudBin.Web.Core.Tracking.CookieTrackingService, CloudBin.Web.Core" />
      <component id="CloudBin.Web.WebMarkupMin.MarkupMinificationFilterFactory" service="CloudBin.Web.Core.Optimization.IMarkupMinificationFilterFactory, CloudBin.Web.Core" type="CloudBin.Web.WebMarkupMin.MarkupMinificationFilterFactory, CloudBin.Web.WebMarkupMin" />
      <!-- Repositories -->
      <component id="CloudBin.Data.NHibernate.StoragePluginDescriptorRepository" service="CloudBin.Data.IStoragePluginDescriptorRepository, CloudBin.Data" type="CloudBin.Data.NHibernate.StoragePluginDescriptorRepository, CloudBin.Data.NHibernate" />
      <component id="CloudBin.Data.NHibernate.UserRepository" service="CloudBin.Data.IUserRepository, CloudBin.Data" type="CloudBin.Data.NHibernate.UserRepository, CloudBin.Data.NHibernate" />
      <component id="CloudBin.Data.NHibernate.UserSessionRepository" service="CloudBin.Data.IUserSessionRepository, CloudBin.Data" type="CloudBin.Data.NHibernate.UserSessionRepository, CloudBin.Data.NHibernate" />
    </components>
  </castle>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.MySqlDataDriver
      </property>
      <property name="connection.connection_string_name">
        CloudBinDB
      </property>
      <property name="dialect">
        NHibernate.Dialect.MySQLDialect
      </property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog throwExceptions="false" internalLogLevel="Error" internalLogFile="nlog.log">
    <variable name="logDirectory" value="${basedir}/App_Data/logs/" />
    <targets async="true">
      <target name="errorFileTarget" type="File" createDirs="true" encoding="utf-8" archiveAboveSize="1048576" maxArchiveFiles="10000" archiveNumbering="Rolling" fileName="${logDirectory}/error.log" archiveFileName="${logDirectory}/error.{#####}.log" layout="${longdate} - ${level} - ${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True} ${newline} Thread name: ${threadname} ${newline} Thread id: ${threadid} ${newline} Message: ${message} ${newline} Stack trace: ${stacktrace:format=DetailedFlat:topFrames=100} ${newline} ${exception:format=ToString,StackTrace:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=100} ${newline}" />
      <target name="sqlFileTarget" type="File" createDirs="true" encoding="utf-8" archiveAboveSize="1048576" maxArchiveFiles="10000" archiveNumbering="Rolling" fileName="${logDirectory}/sql.log" archiveFileName="${logDirectory}/sql.{#####}.log" layout="${longdate} - ${level} - Message: ${message} ${newline} ${newline} ${exception:format=ToString,StackTrace:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=100} ${newline}" />
    </targets>
    <rules>
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="sqlFileTarget" final="true" />
      <logger name="*" minlevel="Warn" writeTo="errorFileTarget" />
    </rules>
  </nlog>
  <bundleTransformer>
    <core>
      <css defaultMinifier="MicrosoftAjaxCssMinifier" defaultPostProcessors="UrlRewritingCssPostProcessor" usePreMinifiedFiles="false">
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <postProcessors>
          <add name="UrlRewritingCssPostProcessor" type="BundleTransformer.Core.PostProcessors.UrlRewritingCssPostProcessor, BundleTransformer.Core" useInDebugMode="true" />
        </postProcessors>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="MicrosoftAjaxCssMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxCssMinifier, BundleTransformer.MicrosoftAjax" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".css" assetTypeCode="Css" />
        </fileExtensions>
      </css>
      <js defaultMinifier="NullMinifier" usePreMinifiedFiles="false">
        <translators>
          <add name="NullTranslator" type="BundleTransformer.Core.Translators.NullTranslator, BundleTransformer.Core" enabled="false" />
        </translators>
        <minifiers>
          <add name="NullMinifier" type="BundleTransformer.Core.Minifiers.NullMinifier, BundleTransformer.Core" />
          <add name="MicrosoftAjaxJsMinifier" type="BundleTransformer.MicrosoftAjax.Minifiers.MicrosoftAjaxJsMinifier, BundleTransformer.MicrosoftAjax" />
        </minifiers>
        <fileExtensions>
          <add fileExtension=".js" assetTypeCode="JavaScript" />
        </fileExtensions>
      </js>
    </core>
    <microsoftAjax>
      <css allowEmbeddedAspNetBlocks="false" blocksStartOnSameLine="NewLine" ignoreAllErrors="false" ignoreErrorList="" indentSize="4" lineBreakThreshold="2147482647" outputMode="SingleLine" preprocessorDefineList="" termSemicolons="false" colorNames="Strict" commentMode="Important" minifyExpressions="true" severity="0" />
      <js allowEmbeddedAspNetBlocks="false" blocksStartOnSameLine="NewLine" ignoreAllErrors="false" ignoreErrorList="" indentSize="4" lineBreakThreshold="2147482647" outputMode="SingleLine" preprocessorDefineList="" termSemicolons="false" alwaysEscapeNonAscii="false" amdSupport="false" collapseToLiteral="true" constStatementsMozilla="false" debugLookupList="Debug,$Debug,WAssert,Msn.Debug,Web.Debug" errorIfNotInlineSafe="false" evalLiteralExpressions="true" evalTreatment="Ignore" ignoreConditionalCompilation="false" ignorePreprocessorDefines="false" inlineSafeStrings="true" knownGlobalNamesList="" localRenaming="CrunchAll" macSafariQuirks="true" manualRenamesProperties="true" noAutoRenameList="$super" preserveFunctionNames="false" preserveImportantComments="true" quoteObjectLiteralProperties="false" removeFunctionExpressionNames="true" removeUnneededCode="true" renamePairs="" reorderScopeDeclarations="true" strictMode="false" stripDebugStatements="true" severity="0" />
    </microsoftAjax>
  </bundleTransformer>
  <webMarkupMin>
    <core>
      <html whitespaceMinificationMode="Medium" removeHtmlComments="true" removeHtmlCommentsFromScriptsAndStyles="true" removeCdataSectionsFromScriptsAndStyles="true" useShortDoctype="true" useMetaCharsetTag="true" emptyTagRenderMode="NoSlash" removeOptionalEndTags="true" removeTagsWithoutContent="false" collapseBooleanAttributes="true" removeEmptyAttributes="true" attributeQuotesRemovalMode="Html5" removeRedundantAttributes="false" removeJsTypeAttributes="false" removeCssTypeAttributes="false" removeHttpProtocolFromAttributes="false" removeHttpsProtocolFromAttributes="false" removeJsProtocolFromAttributes="false" minifyEmbeddedCssCode="true" minifyInlineCssCode="true" minifyEmbeddedJsCode="true" minifyInlineJsCode="true" />
      <css defaultMinifier="MsAjaxCssMinifier">
        <minifiers>
          <add name="NullCssMinifier" displayName="Null CSS Minifier" type="WebMarkupMin.Core.Minifiers.NullCssMinifier, WebMarkupMin.Core" />
          <add name="MsAjaxCssMinifier" displayName="Microsoft Ajax CSS Minifier" type="WebMarkupMin.MsAjax.Minifiers.MsAjaxCssMinifier, WebMarkupMin.MsAjax" />
        </minifiers>
      </css>
      <js defaultMinifier="NullJsMinifier">
        <minifiers>
          <add name="NullJsMinifier" displayName="Null JS Minifier" type="WebMarkupMin.Core.Minifiers.NullJsMinifier, WebMarkupMin.Core" />
          <add name="MsAjaxJsMinifier" displayName="Microsoft Ajax JS Minifier" type="WebMarkupMin.MsAjax.Minifiers.MsAjaxJsMinifier, WebMarkupMin.MsAjax" />
        </minifiers>
      </js>
      <logging>
        <loggers>
          <add name="NullLogger" displayName="Null Logger" type="WebMarkupMin.Core.Loggers.NullLogger, WebMarkupMin.Core" />
          <add name="ThrowExceptionLogger" displayName="Throw exception logger" type="WebMarkupMin.Core.Loggers.ThrowExceptionLogger, WebMarkupMin.Core" />
        </loggers>
      </logging>
    </core>
    <msAjax>
      <css colorNames="Hex" blocksStartOnSameLine="SameLine" commentMode="None" ignoreAllErrors="true" indentSize="1" termSemicolons="true" outputMode="SingleLine" />
      <js amdSupport="false" alwaysEscapeNonAscii="true" blocksStartOnSameLine="SameLine" strictMode="true" constStatementsMozilla="false" errorIfNotInlineSafe="true" outputMode="SingleLine" termSemicolons="true" removeUnneededCode="false" localRenaming="CrunchAll" stripDebugStatements="true" inlineSafeStrings="true" preserveImportantComments="false" />
    </msAjax>
  </webMarkupMin>
  <system.web>
    <httpRuntime enableVersionHeader="false" />
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="CookieAuthenticationHttpModule" type="CloudBin.Web.Core.Security.CookieAuthenticationHttpModule, CloudBin.Web.Core" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <add name="DatabaseSessionHttpModule" type="CloudBin.Web.Core.DatabaseSessionHttpModule, CloudBin.Web.Core" />
      <add name="TrackingHttpModule" type="CloudBin.Web.Core.Tracking.TrackingHttpModule, CloudBin.Web.Core" />
      <add name="HeadersHttpModule" type="CloudBin.Web.Core.HeadersHttpModule, CloudBin.Web.Core" />
      <add name="CompressionHttpModule" type="CloudBin.Web.Core.Optimization.OptimizationHttpModule, CloudBin.Web.Core" />
    </httpModules>
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en" culture="en-US" />
  </system.web>
  <system.webServer>
	<staticContent>
      <clientCache cacheControlMode="UseExpires" cacheControlMaxAge="00:50:00" httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" setEtag="true" />
    </staticContent>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="false">
      <add name="CookieAuthenticationHttpModule" type="CloudBin.Web.Core.Security.CookieAuthenticationHttpModule, CloudBin.Web.Core" preCondition="managedHandler" />
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <add name="DatabaseSessionHttpModule" type="CloudBin.Web.Core.DatabaseSessionHttpModule, CloudBin.Web.Core" preCondition="managedHandler" />
      <add name="TrackingHttpModule" type="CloudBin.Web.Core.Tracking.TrackingHttpModule, CloudBin.Web.Core" preCondition="managedHandler" />
      <add name="HeadersHttpModule" type="CloudBin.Web.Core.HeadersHttpModule, CloudBin.Web.Core" />
      <add name="CompressionHttpModule" type="CloudBin.Web.Core.Optimization.OptimizationHttpModule, CloudBin.Web.Core" />
    </modules>
    <httpProtocol>
      <customHeaders>
        <clear />
        <remove name="X-Powered-By" />
        <add name="X-UA-Compatible" value="IE=Edge" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMarkupMin.Core" culture="neutral" publicKeyToken="99472178d266584b" />
        <bindingRedirect oldVersion="0.0.0.0-0.8.21.0" newVersion="0.8.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AjaxMin" publicKeyToken="21ef50ce11b5d80f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.11.5295.12304" newVersion="5.11.5295.12304" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>


