<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="cloudbin">
      <section name="dependencyContainer" type="CloudBin.Core.Configuration.DependencyContainerConfigurationSection, CloudBin.Core" />
      <section name="database" type="CloudBin.Data.DatabaseConfigurationSection, CloudBin.Data" />
      <section name="web" type="CloudBin.Web.Utilities.WebConfigurationSection, CloudBin.Web.Utilities" />
      <section name="globalization" type="CloudBin.Core.Configuration.GlobalizationConfigurationSection, CloudBin.Core" />
    </sectionGroup>
    <section name="castle" type="Castle.Windsor.Configuration.AppDomain.CastleSectionHandler, Castle.Windsor" />
    <section name="hibernate-configuration" type="NHibernate.Cfg.ConfigurationSectionHandler, NHibernate" />
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="nhibernate-logger" value="NHibernate.Logging.CommonLogging.CommonLoggingLoggerFactory, NHibernate.Logging.CommonLogging"/>
  </appSettings>
  <connectionStrings>
    <add name="CloudBinDB" connectionString="server=127.0.0.1;user=cloudbin;database=cloudbin;port=3306;charset=utf8;" />
  </connectionStrings>
  <cloudbin>
    <dependencyContainer type="CloudBin.IoC.Castle.Windsor.WindsorDependencyContainer, CloudBin.IoC.Castle.Windsor" />
    <database useOptimisticLockForUsers="true" useOptimisticLockForStorageAccounts="true" />
    <web doNotOpenDbSessionForScriptAndContent="true" compressDynamicContent="true" compressStaticContent="true" sendSecurityHeaders="true" removeVersionHeaders="true" />
    <globalization>
      <locales>
        <add name="en-US" culture="en-US" uiCulture="en-US" isDefault="true" fullName="English" />
        <add name="ru-RU" culture="ru-RU" uiCulture="ru-RU" isDefault="false" fullName="Русский" />
      </locales>
    </globalization>
  </cloudbin>
  <castle>
    <components>
      <component id="CloudBin.Web.Utilities.HttpRequestContextProvider"
            service="CloudBin.Core.IRequestContextProvider, CloudBin.Core"
            type="CloudBin.Web.Utilities.HttpRequestContextProvider, CloudBin.Web.Utilities" />
      <!-- Configurations -->
      <component id="CloudBin.Data.DatabaseXmlConfiguration"
            service="CloudBin.Data.IDatabaseConfiguration, CloudBin.Data"
            type="CloudBin.Data.DatabaseXmlConfiguration, CloudBin.Data" />
      <component id="CloudBin.Web.Utilities.WebXmlConfiguration"
            service="CloudBin.Web.Utilities.IWebConfiguration, CloudBin.Web.Utilities"
            type="CloudBin.Web.Utilities.WebXmlConfiguration, CloudBin.Web.Utilities" />
      <component id="CloudBin.Core.Configuration.GlobalizationXmlConfiguration"
            service="CloudBin.Core.Configuration.IGlobalizationConfiguration, CloudBin.Core"
            type="CloudBin.Core.Configuration.GlobalizationXmlConfiguration, CloudBin.Core" />
      <!-- ============== -->
      <component id="CloudBin.Core.LocaleProvider"
            service="CloudBin.Core.ILocaleProvider, CloudBin.Core"
            type="CloudBin.Core.LocaleProvider, CloudBin.Core" />
      <component id="CloudBin.Data.NHibernate.SessionManager"
            service="CloudBin.Data.IDatabaseSessionManager, CloudBin.Data"
            type="CloudBin.Data.NHibernate.SessionManager, CloudBin.Data.NHibernate" />
      <component id="CloudBin.Web.Utilities.OpenDatabaseConnectionPolicy"
            service="CloudBin.Web.Utilities.IOpenDatabaseConnectionPolicy, CloudBin.Web.Utilities"
            type="CloudBin.Web.Utilities.OpenDatabaseConnectionPolicy, CloudBin.Web.Utilities" />
      <!-- Repositories -->
      <component id="CloudBin.Data.NHibernate.StoragePluginDescriptorRepository"
            service="CloudBin.Data.IStoragePluginDescriptorRepository, CloudBin.Data"
            type="CloudBin.Data.NHibernate.StoragePluginDescriptorRepository, CloudBin.Data.NHibernate" />
    </components>
  </castle>
  <hibernate-configuration xmlns="urn:nhibernate-configuration-2.2">
    <session-factory>
      <property name="connection.provider">
        NHibernate.Connection.DriverConnectionProvider
      </property>
      <property name="connection.driver_class">
        NHibernate.Driver.MySqlDataDriver
      </property>
      <property name="connection.connection_string_name">
        CloudBinDB
      </property>
      <property name="dialect">
        NHibernate.Dialect.MySQLDialect
      </property>
      <property name="show_sql">true</property>
    </session-factory>
  </hibernate-configuration>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>
  <nlog throwExceptions="false" internalLogLevel="Error" internalLogFile="nlog.log">
    <variable name="logDirectory" value="${basedir}/App_Data/logs/" />
    <targets async="true">
      <target name="errorFileTarget" type="File" createDirs="true" encoding="utf-8" archiveAboveSize="1048576" maxArchiveFiles="10000" archiveNumbering="Rolling" fileName="${logDirectory}/error.log" archiveFileName="${logDirectory}/error.{#####}.log" layout="${longdate} - ${level} - ${callsite:className=True:fileName=True:includeSourcePath=True:methodName=True} ${newline} Thread name: ${threadname} ${newline} Thread id: ${threadid} ${newline} Message: ${message} ${newline} Stack trace: ${stacktrace:format=DetailedFlat:topFrames=100} ${newline} ${exception:format=ToString,StackTrace:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=100} ${newline}" />
      <target name="sqlFileTarget" type="File" createDirs="true" encoding="utf-8" archiveAboveSize="1048576" maxArchiveFiles="10000" archiveNumbering="Rolling" fileName="${logDirectory}/sql.log" archiveFileName="${logDirectory}/sql.{#####}.log" layout="${longdate} - ${level} - Message: ${message} ${newline} ${newline} ${exception:format=ToString,StackTrace:innerFormat=ToString,StackTrace:maxInnerExceptionLevel=100} ${newline}" />
    </targets>
    <rules>
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="sqlFileTarget" final="true" />
      <logger name="*" minlevel="Warn" writeTo="errorFileTarget" />
    </rules>
  </nlog>
  <system.web>
    <httpRuntime enableVersionHeader="false"/>
    <compilation defaultLanguage="C#" debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Web.DynamicData, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Xml.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.ApplicationServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Web.Helpers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <httpModules>
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <add name="CompressionHttpModule" type="CloudBin.Web.Utilities.CompressionHttpModule, CloudBin.Web.Utilities" />
      <add name="DatabaseSessionHttpModule" type="CloudBin.Web.Utilities.DatabaseSessionHttpModule, CloudBin.Web.Utilities" />
      <add name="HeadersHttpModule" type="CloudBin.Web.Utilities.HeadersHttpModule, CloudBin.Web.Utilities" />
    </httpModules>
    <customErrors mode="Off" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" uiCulture="en" culture="en-US" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="BundleModule" type="System.Web.Optimization.BundleModule" />
      <add name="CompressionHttpModule" type="CloudBin.Web.Utilities.CompressionHttpModule, CloudBin.Web.Utilities" />
      <add name="DatabaseSessionHttpModule" type="CloudBin.Web.Utilities.DatabaseSessionHttpModule, CloudBin.Web.Utilities" />
      <add name="HeadersHttpModule" type="CloudBin.Web.Utilities.HeadersHttpModule, CloudBin.Web.Utilities" />
    </modules>
    <httpProtocol>
    <customHeaders>
      <clear />
      <remove name="X-Powered-By" />
    </customHeaders>
   </httpProtocol>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.0.0" newVersion="2.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>