<h2>User MENU   @Url.Action("List", "StorageAccounts")</h2>
<script type="text/javascript">
    var p = new AccountsList({ url:'@Url.Action("List", "StorageAccounts")'});
</script>
<div id="nav-menu">
    
</div>