@using StorageMonster.Web.Properties.ViewsResources
<div id="modalLogon" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-header">
        <h3 id="modalLogonHeader"></h3>
    </div>
    <div class="modal-body">
    </div>
</div>