@model String
@using StorageMonster.Web.Services.Extensions


@Html.RequestSuccessInfo(new { @class = "alert alert-success" })
@Html.ValidationSummary(Model, new { @class = "alert alert-error" })
@Html.RequestErrorInfo(new { @class = "alert alert-error" })
<div class="alert alert-error" data-errorinfo="" style="display: none"></div>