<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="StructureMap" type="StructureMap.Configuration.StructureMapConfigurationSection,StructureMap"/>
  </configSections>

  <appSettings>    
    <add key="AllowMultipleLogons" value="false"/>
    <add key="RunSweeper" value="true"/>
    <add key="SweeperTimeout" value="30"/>
    <add key="LoginUrl" value="~/account/logon"/>
    <add key="LoginTimeout" value="2880"/><!-- minutes-->
    <add key="LoginCookieName" value="sm_auth"/>
    <add key="UseSlidingExpiration" value="true"/>
    <add key="LocaleCookieName" value="sm_locale"/>
    <add key="LocaleCookieTimeout" value="527040"/><!-- minutes -->
    <add key="EncryptionKey" value="37d3a5e4-2a5f-4421-ba5e-8773c3a27958"/>
    <add key="EncryptionSalt" value="55ad57e7-54c2-4f09-836c-66c66014be1b"/>
    <add key="RestorePasswordMailFrom" value="do-not-reply@storage-monster.apphb.com"/>
    <add key="ResetPasswordRequestExpiration" value="120"/>
<!--
	<add key="LOGENTRIES_ACCOUNT_KEY" value="MY_KEY"/>
	<add key="LOGENTRIES_LOCATION" value="MY_LOCATION"/>
-->	
  </appSettings>


  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net1211">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <log4net>
    <appender name="GeneralFileAppender" type="log4net.Appender.RollingFileAppender">
      <lockingmodel type="log4net.Appender.FileAppender+MinimalLock"/>
      <file value="logs/general.log" />
      <appendToFile value="true" />
      <maximumFileSize value="1MB" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="-1" />
      <staticLogFileName value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m %l %ndc %n %n %exception %n"  />
      </layout>
    </appender>

	<appender name="LeAppender" type="log4net.Appender.LeAppender, LeLog4net">
      <Debug value="true" />
      <Ssl value="false" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss.fff} [%t] %-5p %c - %m %l %ndc %n %n %exception %n" />
      </layout>
    </appender>
	
    <!--levels: DEBUG, INFO, WARN, ERROR, FATAL-->
    <root>
      <level value="ERROR"/>
      <appender-ref ref="GeneralFileAppender" />
	  <!--
	  <appender-ref ref="LeAppender" />
	  -->
    </root>
  </log4net>
    
    
  <StructureMap>
    <!-- Database-->
    <DefaultInstance
            PluginType  ="StorageMonster.Database.IDbConfiguration, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.DbConfiguration, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.IConnectionProvider, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.ConnectionProvider, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.Repositories.IStoragePluginsRepository, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.Repositories.StoragePluginsRepository, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.Repositories.IUserRepository, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.Repositories.UserRepository, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.Repositories.IUserRoleRepository, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.Repositories.UserRoleRepository, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.Repositories.ISessionRepository, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.Repositories.SessionRepository, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.Repositories.IStorageAccountRepository, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.Repositories.StorageAccountRepository, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.Repositories.IStorageAccountSettingsRepository, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.Repositories.StorageAccountSettingsRepository, StorageMonster.Database.MySql"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Database.Repositories.IResetPasswdRequestsRepository, StorageMonster.Database"
            PluggedType ="StorageMonster.Database.MySql.Repositories.ResetPasswdRequestsRepository, StorageMonster.Database.MySql"
            Scope="Singleton"  />


    

    <!-- Services -->
    <DefaultInstance
           PluginType  ="StorageMonster.Web.Services.Configuration.IWebConfiguration, StorageMonster.Web"
           PluggedType ="StorageMonster.Web.Services.Configuration.WebConfiguration, StorageMonster.Web"
           Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.ILocaleProvider, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.LocaleProvider, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Common.ICacheService, StorageMonster.Common"
            PluggedType ="StorageMonster.Web.Services.HttpInMemoryCacheService, StorageMonster.Web"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.IStoragePluginsService, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.StoragePluginsService, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.IUserService, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.UserService, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.Security.IPasswordHasher, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.PasswordHasher, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.Security.ICryptoService, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.AesCryptoService, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.Security.ISecurityConfiguration, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.SecurityConfiguration, StorageMonster.Services.Facade"
            Scope="Singleton"  />    
    <DefaultInstance
            PluginType  ="StorageMonster.Services.Security.ISessionService, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.SessionService, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
           PluginType  ="StorageMonster.Web.Services.Security.IMembershipService, StorageMonster.Web"
           PluggedType ="StorageMonster.Web.Services.Security.MembershipService, StorageMonster.Web"
           Scope="Singleton"  />
    <DefaultInstance
          PluginType  ="StorageMonster.Web.Services.Security.IFormsAuthenticationService, StorageMonster.Web"
          PluggedType ="StorageMonster.Web.Services.Security.FormsAuthenticationService, StorageMonster.Web"
          Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.IStorageAccountService, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.StorageAccountService, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.ISweeper, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.Sweeper, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Services.ITemplateEngine, StorageMonster.Services"
            PluggedType ="StorageMonster.Services.Facade.VelocityTemplateEngine, StorageMonster.Services.Facade"
            Scope="Singleton"  />
    <DefaultInstance
            PluginType  ="StorageMonster.Web.Services.IMailService, StorageMonster.Web"
            PluggedType ="StorageMonster.Web.Services.MailService, StorageMonster.Web"
            Scope="Singleton"  />

    

    <!-- Plugins -->
    <!-- Storage plugins -->
    <AddInstance
      Key="WebDav"
      PluginType="StorageMonster.Plugin.IStoragePlugin, StorageMonster.Plugin"
      PluggedType="StorageMonster.Plugin.WebDav.WebDavPlugin, StorageMonster.Plugin.WebDav"
      Scope="Singleton"/>
    <AddInstance
      Key="YandexDisk"
      PluginType="StorageMonster.Plugin.IStoragePlugin, StorageMonster.Plugin"
      PluggedType="StorageMonster.Plugin.YandexDisk.YandexDiskPlugin, StorageMonster.Plugin.YandexDisk"
      Scope="Singleton"/>
  </StructureMap>

  <connectionStrings>
    <add name="StorageMonsterMySqlServices" connectionString="Server=localhost;Database=storage_services;User ID=storage_monster; Pwd=123456" />
  </connectionStrings>

  <!--
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network">
        <network
          host="smtp.site.com"
          userName="hello123@site.com"
          password="mypassword"/>
      </smtp>
    </mailSettings>
  </system.net>
  -->
  
  <system.web>    
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
   
    <authentication mode="None"/> <!-- forms authentication in appharbor did not work for me -->
    <membership defaultProvider="StorageMonsterMemberProvider" userIsOnlineTimeWindow="15">
      <providers>
        <clear />
        <add name="StorageMonsterMemberProvider" type="StorageMonster.Web.Services.Security.MonsterMembershipProvider, StorageMonster.Web" minRequiredPasswordLength="6" />
      </providers>
    </membership>
    <roleManager defaultProvider="StorageMonsterRoleProvider" enabled="true" cacheRolesInCookie="true">
      <providers>
        <clear />
        <add name="StorageMonsterRoleProvider" type="StorageMonster.Web.Services.Security.MonsterRoleProvider, StorageMonster.Web" />
      </providers>
    </roleManager>

    <!--<customErrors mode="Off"/>-->

    <customErrors mode="On" defaultRedirect="~/content/error.htm">
      <error statusCode="403" redirect="~/forbidden" />
      <error statusCode="404" redirect="~/notfound" />
      <error statusCode="500" redirect="~/content/error.htm" />
    </customErrors>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpModules>
      <add name="MonsterAuthorizeModule" type="StorageMonster.Web.Services.HttpModules.MonsterAuthorizeHttpModule, StorageMonster.Web" />
      <add name="MonsterCleanupModule" type="StorageMonster.Web.Services.HttpModules.MonsterCleanupHttpModule, StorageMonster.Web" />
      <!-- optional -->
      <!--<add name="MonsterLowercaseRoutesHttpModule" type="StorageMonster.Web.Services.HttpModules.MonsterLowercaseRoutesHttpModule, StorageMonster.Web" /> -->
    </httpModules>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="false">
      <remove name="MonsterCleanupModule" />
      <remove name="MonsterAuthorizeModule" />
      <!-- optional -->
      <!--<remove name="MonsterLowercaseRoutesHttpModule" />-->
      <add name="MonsterCleanupModule" type="StorageMonster.Web.Services.HttpModules.MonsterCleanupHttpModule, StorageMonster.Web" />
      <add name="MonsterAuthorizeModule" preCondition="managedHandler" type="StorageMonster.Web.Services.HttpModules.MonsterAuthorizeHttpModule, StorageMonster.Web" />
      <!-- optional -->
      <!--<add name="MonsterLowercaseRoutesHttpModule" type="StorageMonster.Web.Services.HttpModules.MonsterLowercaseRoutesHttpModule, StorageMonster.Web" />-->
    </modules>
    <httpErrors errorMode="Custom">
      <error statusCode="400" subStatusCode="-1" path="~/BadRequest" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="3.5.0.0" newVersion="4.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

