@using System.Web.Script.Serialization
@using StorageMonster.Web.Properties.ViewsResources
@model StorageMonster.Web.Models.SettingsModel

@{
    ViewBag.Title = HomeResources.IndexTitle;
    Layout = "~/Views/Shared/_InnerLayout.cshtml";
    
    JavaScriptSerializer serializer = new JavaScriptSerializer();
}


@Html.Partial("Controls/JsMessagesControl")

<div id="mainContent">
</div>


<script type="text/javascript">
    $(document).ready(function () {
        MonsterApp.ApplicationContext.Settings = @(Html.Raw(serializer.Serialize(Model))) ;
        MonsterApp.ApplicationContext.router = new MonsterApp.Router();
        Backbone.history.start();
    });
</script>


<div id="templateCache" style="display: none">
    
    <script type="text/template" id="TextBoxTempl">
        <input type="text" id="<%- attributes.id %>"/>
    </script>

    <script type="text/template" id="MasterViewTmpl">
        @Html.Partial("~/Views/Templates/MasterTemplate.cshtml")
    </script>

    <script type="text/template" id="ProfileTmpl">
        <div class="container">
            <div class="row">
                <div class="span6 offset3">
                    <div class="well">
                        <form id="profileForm" method="post">
                            <p>                                
                                <%= MonsterApp.RenderUtils.Html.labelFor(
                                        profile, 
                                        'Email',
                                        {style: 'display:inline'})
                                %>: <span><strong> <%- profile.get('Email') %> </strong></span>
                            </p>          
                            <p>
                                <%= MonsterApp.RenderUtils.Html.labelFor(
                                        profile, 
                                        'UserName')
                                %>                                
                                <%= MonsterApp.RenderUtils.Html.textBoxFor(
                                            profile,
                                            'UserName',                                           
                                            {class: 'input-block-level'})  
                                %>   
                                <%= MonsterApp.RenderUtils.Html.validationMessageFor(
                                            profile,
                                            'UserName',                                           
                                            {class: 'field-validation-valid'})  
                                %>
                            </p>
        
                            <p>
                                <%= MonsterApp.RenderUtils.Html.labelFor(
                                        profile, 
                                        'Locale')
                                %>  
                                <%= MonsterApp.RenderUtils.Html.selectFor(
                                        profile, 
                                        'Locale',
                                        {class: 'input-block-level'},
                                        MonsterApp.ApplicationContext.Settings.SupportedLocales)
                                %>   
                                <%= MonsterApp.RenderUtils.Html.validationMessageFor(
                                            profile,
                                            'Locale',                                           
                                            {class: 'field-validation-valid'})  
                                %>                                                  
                            </p>
                            <p>
                                <%= MonsterApp.RenderUtils.Html.labelFor(
                                        profile, 
                                        'TimeZone')
                                %>
                                <%= MonsterApp.RenderUtils.Html.selectFor(
                                        profile, 
                                        'TimeZone',
                                        {class: 'input-block-level'},
                                        MonsterApp.ApplicationContext.Settings.SupportedTimeZones)
                                %>    
                                <%= MonsterApp.RenderUtils.Html.validationMessageFor(
                                            profile,
                                            'TimeZone',                                           
                                            {class: 'field-validation-valid'})  
                                %>         
                            </p> 
                            <input type="submit" class="btn" value="Not implemented yet"/> 
                        </form>
                    </div>
                <div>
            </div>
        </div>
    </script>
</div>


@*


<div id="templates">
    <script type="text/template" id="TStorageAccountsList">
        <ul>
        <% _.each( accounts, function( accounts_item ){ %>
            <li>        
            <p><a class="storageAccountLink" data-id="<%-accounts_item.get("id")%>" href='/'><%- accounts_item.get("name") %> - <%- accounts_item.get("id") %></a>
            </li>            
        <% }); %>
        </ul>
        <a href='/' id="refreshStorageAccounts">Refresh</a>
    </script>
</div>*@

