/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
}

.field-validation-valid
{
    display: none;
}

.input-validation-error
{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
}
#main-menu {
    margin-bottom: 60px;
}

.validation-summary-valid
{
    display: none;
}


.request-info-summary
{
    font-weight: bold;
    color: #00ff00;
}

.request-error-summary
{
    font-weight: bold;
    color: #ff0000;
}